@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/poppins');


:root{
    --diameter:500px;
    --translate: translate(-50%,-50%);
    --translatex: translatex(-50%);
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* inputcommon property */
input:focus{
    border: 1px solid white;
    color: white;
}
input{
    outline:none;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    border: none;
}

/* button common property */
button{
    border:none;
    border-radius: 50px;
    background-color: white;
    font-size: .75rem;
    font-weight: 500;
    cursor: pointer;
}

/* display hidden inputs  in header */

input[name=menu]{
    display: none;
}

/* header css */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    position:fixed;
    width: 100%;
    top:0px;
    border-bottom: 1px solid rgb(128, 128, 128);
    z-index: 999;
    padding: 0 10px;
}

/* before content header fill background*/

header::before{
    content: "";
    position:absolute;
    width:100%;
    height:101%;
    left: 0;
    transform-origin: left;
    transform: scaley(0);
    animation:scroll forwards ;
    animation-timeline: view();
    animation-range: exit 40vh; 
    transition: all 2s; 
}
        /* animtion effect header fill background*/

@keyframes scroll {
    to{
        transform: scaley(1);
        background-color:rgba(0, 0, 0, 0.4);
        -webkit-backdrop-filter:blur(5px) ;
        backdrop-filter: blur(5px);   
    }
    30%,100%{
        box-shadow: 0 2px 10px black, 0 2px 5px black ;
    }
}


body:has(#menubar:checked) .menu{
     top:0;
}
body:has(#menubar:checked) .menu-content ul li{
    transition: transform 300ms 500ms linear;
    transform: scaley(1);
    transform-origin:bottom;
}
body:has(#menubar:checked) .menu .menu-images{
    opacity: 1;
    transform: translateY(0%);
}
body:has(#menubar_close:checked) .menu{
    top:100%;
}


/* inside menu bar contents */


/* menu bar */

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100%;
    position: fixed;
    left:0;
    transition: all 500ms linear;
    /* z-index: 100; */
}

/* -------------menu bar close label css-------------- */

.menu-content .menubar-close{
    font-size: .75rem;
    font-weight: bold;
    position: relative;
    width: fit-content;
    padding-left:30px;
}
.menu-content .menubar-close:hover{
    scale:1.4;
    cursor: pointer;
    transition: all 100ms linear;
}
.menu-content .menubar-close::before {
    content: '';
    height: 2px;
    width: 30%;
    position: absolute;
    left: 0;
    top:15%;
    background-color: white;
    transition: all 300ms linear;
}
.menu-content .menubar-close::after {
    content: '';
    height: 2px;
    width: 15%;
    position: absolute;
    left: 0;
    bottom:15%;
    background-color: white;
    transition: all 300ms linear;
}

.menu-content .menubar-close:hover::after{
    width: 20%;
    rotate: -45deg;
    transform: translatex(42%);
}
.menu-content .menubar-close:hover::before{
    width: 20%;
    rotate: 40deg;
    transform: translatex(42%);
}

/* content and list in menu bar */

/* fisrt div is menu comtent */

.menu .menu-content{
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background-color:#222;
    transition: all 500ms linear;
}

/* ul inside menu css */

.menu-content ul{
    list-style: none;
    width: fit-content;  
}
.menu-content ul:hover li{
    color:grey;
    transform: rotatez(-3deg) rotatex(0deg) rotateY(-5deg) translatez(90px)  
    perspective(200px)!important;
    transition-delay: 0s!important;
}

/* ul inside list css */

.menu-content ul li{
    width: fit-content;
    font-size: 3rem;
    font-weight:900;
    line-height:3rem;
    padding: 5px;
    word-wrap:nowrap;
    color:white;
    /* text-shadow: 1px 1px 0 white , -1px -1px 0 white; */
    transition:all 500ms;
    position: relative;
    transform: scaley(0);
}
.menu-content ul li:hover{
    color: white!important;
    cursor: pointer;
    text-shadow: -5px -1px 1px #222, -6px -2px 2px gray,-5px 1px 1px #222, 0px 1px 2px gray;
   transform: rotatey(0deg) rotateZ(-1deg) rotateX(0deg) translateZ(60px) perspective(100px);
   padding-left: 45px;
}
.menu-content ul li:hover::first-letter{
    color:rgb(150, 54, 239);
    font-size: 4rem;
}
.menu-content ul li:nth-child(2):hover::first-letter{
    color:rgb(31, 246, 196);
}
.menu-content ul li:nth-child(3):hover::first-letter{
    color:rgb(227, 227, 43);
}
.menu-content ul li:nth-child(4):hover::first-letter{
    color:rgb(248, 41, 200);
}
.menu-content ul li:nth-child(5):hover::first-letter{
    color:rgb(55, 79, 215);
}
.menu-content ul li:nth-child(6):hover::first-letter{
    color:rgb(218, 126, 14);
}
.menu-content ul li:nth-child(7):hover::first-letter{
    color:rgb(255, 85, 0);
}



.menu-content ul li::after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left:-15px;
    top:35%;
    transition: all 300ms;
    transform: rotate(45deg);
}


/* -------------------rework-------------------- */

.menu-content ul li:hover::after{
    left:0%;
    opacity: 1;
    border-top:5px solid white;
    border-right:5px solid white;
    
}


/* menu span and i tag css */

.menu-content  >span i , 
.footeraside2 div:nth-child(2) >span i{
    position: relative;
    padding: 0 40px 0 0;
    font-size: 1.5rem;
    z-index: 1;
} 

.menu-content  >span i::after ,
.footeraside2 div:nth-child(2) >span i::after{
    position: absolute;
    content: '';
    width:40%;
    height: 2px;
    background-color: white;
    left:50%;
    top:40%;
    transition:all .5s;
} 

.menu-content  >span i:nth-child(4)::after,
.footeraside2 div:nth-child(2) >span i:nth-child(4)::after {
    width: 0;
}

.menu-content  >span i:hover::after , 
.footeraside2 div:nth-child(2) >span i:hover::after{
    width: 35px;
    height:35px;
    border-radius: 50%;
    border:1px solid white;
    /* background-color: transparent; */
    left:-12%;
    top:-25%;
    background-color: white;
    z-index: -1;
}

.menu-content >span i:nth-child(1):hover::after , 
.footeraside2 div:nth-child(2) >span i:nth-child(1):hover::after{
    left:-18%;
    box-shadow: 2px 2px 15px blue,-2px -2px 15px blue;
}

.menu-content >span i:nth-child(2):hover::after , 
.footeraside2 div:nth-child(2) >span i:nth-child(2):hover::after{
   
    box-shadow: 2px 2px 15px red,-2px -2px 15px orange;
}

.menu-content >span i:nth-child(3):hover::after , 
.footeraside2 div:nth-child(2) >span i:nth-child(3):hover::after{
    left:-8%;
    box-shadow: 2px 2px 15px red,-2px -2px 15px red;
}

.menu-content >span i:nth-child(4):hover::after , 
.footeraside2 div:nth-child(2) >span i:nth-child(4):hover::after{
    left:-10%;  
    box-shadow: 2px 2px 15px rgb(214, 92, 92), -2px -2px 15px rgb(84, 214, 84);
}

.menu-content >span i:nth-child(1):hover , 
.footeraside2 div:nth-child(2) >span i:nth-child(1):hover{
    color:blue;
}

.menu-content >span i:nth-child(2):hover , 
.footeraside2 div:nth-child(2) >span i:nth-child(2):hover{
    color: orangered;
}

.menu-content >span i:nth-child(3):hover , 
.footeraside2 div:nth-child(2) >span i:nth-child(3):hover{
    color: red;
}

.menu-content >span i:nth-child(4):hover , 
.footeraside2 div:nth-child(2) >span i:nth-child(4):hover{
    color: black;
}



/* images in menu bar */

/* second div is menu images */

.menu .menu-images{
    width:50%;
    height:100%;
    position: relative;
    transform: translateY(-200%);
    transition: all 500ms linear;
    opacity: 0;
}
.menu-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition:all 1s;
    filter: brightness(80%);
    opacity: 0;
}
.menu-images img:nth-child(1){
    /* z-index: 1;  */
    opacity: 1;
}

body:has(.menu-content ul li:nth-last-child(7):hover) .menu-images img:nth-child(2){
    /* z-index: 2; */
    opacity: 1;
}
body:has(.menu-content ul li:nth-last-child(6):hover) .menu-images img:nth-child(3){
    /* z-index: 2; */
    opacity: 1;
}
body:has(.menu-content ul li:nth-last-child(5):hover) .menu-images img:nth-child(4){
    /* z-index: 2; */
    opacity: 1;
}
body:has(.menu-content ul li:nth-last-child(4):hover) .menu-images img:nth-child(5){
    /* z-index: 2; */
    opacity: 1;
}
body:has(.menu-content ul li:nth-last-child(3):hover) .menu-images img:nth-child(6){
    /* z-index: 2; */
    opacity: 1;
}
body:has(.menu-content ul li:nth-last-child(2):hover) .menu-images img:nth-child(7){
    /* z-index: 2; */
    opacity: 1;
}
body:has(.menu-content ul li:nth-last-child(1):hover) .menu-images img:nth-child(8){
    /* z-index: 2; */
    opacity: 1;
}





/*  label inside header to open menu css */

.navigation-label{
    cursor: pointer;
}
.navigation-label span{
    position: relative;
    display: inline-block;
    padding: 30px 30px;
    font-size: .75rem;
    font-weight: bold;
    vertical-align:bottom;
    margin: 0 10px;
    border-right: 1px solid rgb(134, 134, 134);
}

/* before and after in label open and !!!!--close--!!! */

.navigation-label span::before {
    content:'';
    width:100%;
    position: absolute;
    left:10%;
    top:42%;
    transform: scaleX(15%);
    transform-origin: left;
    height:2px;
    background-color:whitesmoke;
    transition: all 1s ease;
}

.navigation-label span::after {
    content:'';
    width:100%;
    position: absolute;
    left:10%;
    top:52%;
    transform-origin: left;
    transform: scaleX(9.5%);
    height:2px;
    background-color:whitesmoke;
    transition: all 1s ease;
}

.navigation-label:hover span::before{
    animation: menugrow .5s ease  forwards;
    transform-origin: center;
}
.navigation-label:hover span::after{
    animation: menugrow1 .5s ease forwards;
    transform-origin: center;
}
@keyframes menugrow {
    0%,100%{
        top:30%;
        border-top: 2px solid;
        border-radius: 50px;
    }
    to{
        left:-1%;
        transform: scaleX(50%);
    }
}
@keyframes menugrow1 {
    0%,100%{
        top:62%;
        border-bottom: 2px solid;
        border-radius: 50px;
    }
    to{
        left:-1%;
        transform:scaleX(50%);
    }
}

/* navigation !(nav tag is used)! with logo inside header css  */

nav{
    width: 54%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
 }

nav span a{
    font-size: .75rem;
    font-weight: 700;
    cursor: pointer;
}
nav span a i{
    padding: 5px;
}
nav span a::after{
    content: 'MY ACCOUNT';
}
nav span button{
    font-size: .75rem;
    font-weight: 500;
    margin: 0 20px;
    padding: 15px 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
nav span button::after{
    content: "US";
}
nav span button::before{
    content: '';
    width: 30px;
    position: absolute;
    height: 30px;
    left: -100%;
    top:-10%;
    rotate:45deg;
    border-radius: 50%;
    background-color: blue;
    border-top:20px solid rgba(255, 0, 0);
    border-right:20px solid rgba(255, 0, 0);
    z-index: -1;
    transition:left 2s, opacity 2s ;
    transform:scale(-1);
}
nav span button:hover::before{
    left:100%;
    transform:scale(1);
    opacity: 0;
}



/* section1 css */

.section1{
    background-color:rgb(34, 34, 34);
    color: #eee;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /* margin-top: -71px; */
}
.section1 .list .item{
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 .list .item .content{
    position: absolute;
    top:20%;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2,400px);
    gap:150px;
    /* font-size: 1.2em; */
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 80px #000;
}
.section1 .list .item .content p{
    text-align: right;
    padding-left: 10%;
    font-size: clamp(0.8em, 2vw, 1.2em);
    position: relative;
    /* z-index: 2; */
}
.section1 .list .item .content h2{
    font-size: clamp(4em, 14vw, 9em);
    font-family: 'Bebas Neue';                                            
    line-height: 0.8em;
    grid-row-start: 1;
    grid-row-end: 3;
}
.section1 .list .item .content p:last-child{
    align-content: end;
    padding-bottom: 25px;
}
.section1 .list .img{
    flex-shrink: 0;
    width: var(--diameter);
    height:var(--diameter);
    /* background-color: red; */
    background-image:var(--url);
    background-position: center;
    background-size: var(--diameter) var(--diameter) ;
    border-radius: 50%;
    position: relative;   
}
.section1 .list .img::before,
.section1 .list .img::after{
    content: '';
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    /* border: 1px solid black; */
    background-image:
    linear-gradient(to right, #0004, #0004),
    var(--url);
    top:50%;
    left: 50%;
    transform: var(--translate); 
     background-position: center;
    background-size: var(--diameter) var(--diameter) ;
}
.section1 .list .img::after{
    width: 30%;
    height: 30%;
    background-image:var(--url);
}
.section1 .list .item .content h2{
    transform:translateY(-100%);
    transition:transform 1s;
}
.section1 .list .item .img{
    transform: rotate(-60deg);
    filter:blur(30px);
    transition: 1s;
}
.section1 .list .item .img::before{
    transform: var(--translate) rotate(-120deg);
    transition:transform 1s;
}
.section1 .list .item .img::after{
    transform: var(--translate) rotate(-170deg);
    transition:transform 1s;
}
.section1 .list .item{
    pointer-events: none;
    opacity: 0;
    transition: 1s;
}
.section1 .list .item.active{
    opacity: 1;
    pointer-events: auto;
}
.section1 .list .item.active .content h2{
    transform: translateY(0);
}
.section1 .list .item.active .img{
    transform: rotate(0);
    filter:blur(0);
}
.section1 .list .item.active .img::before,
.section1 .list .item.active .img::after{
    transform: var(--translate) rotate(0);
}
.section1 .list .item.active ~ .item{
    opacity: 0;
}
.section1 .list .item.active ~ .item .content h2{
    transform: translateY(100%);
}
.section1 .list .item.active ~ .img{
    transform: rotate(60deg);
    filter:blur(30px);
}
.section1 .list .item.active ~ .img::before{
    transform: var(--translate) rotate(120deg);
}
.section1 .list .item.active ~ .img::after{
    transform: var(--translate) rotate(170deg);
}
.arrows{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.arrows button{
    height: 30px;
    width:30px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid white;
    color: #eee;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.arrows button.none{
    opacity: 0;
    pointer-events: none;
}
.section1 .model{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1000px, 100vw);
    background-image: url(./section1images/model.png);
    height: 70%;
    background-size: cover;
    background-position: top;
    pointer-events: none;
    animation: showModel 1s ease-in-out 1 forwards;
}
@keyframes showModel {
    from{
        transform: translateX(-50%) scale(1.5) translateY(88px);
    }
}

/* responsive for section 1 */

@media all and (max-width:1024px){
    .section1 .list .item .content{
        grid-template-columns: repeat(2,300px);
        gap:150px;
    }
}
@media all and (max-width:800px){
    .section1 .list .item .content{
        grid-template-columns: 80vw;
        gap:50px;
        top:100px
    }
    .section1 .list .item .content h2{
        margin-bottom: 25%;
    }
    .section1 .list .item .content p{
        padding-left: 30%;
        transform: translateY(-30px);
        z-index: 2;
        color: rgba(255, 255, 255,0.7);
    }
}
/* --------------------------------------section2 css-------------------------------- */

.section2{
    background-color:rgb(34, 34, 34);
    /* box-shadow: rgb(34, 34, 34) 0px -60px 40px -7px, rgba(34, 34, 34, 0.25) 0px 54px 55px, rgba(34,34,34, 0.12) 0px -12px 30px, rgba(34,34,34, 0.12) 0px 4px 6px, rgba(34,34,34, 0.17) 0px 12px 13px, rgba(34,34,34, 0.09) 0px -3px 5px ; */
    position: relative;
    color: whitesmoke;
}

.section2 div:nth-child(1){
    width: 100%;
    padding: 5% 0;
    width: 50%;
    margin-left: auto;
    transition: all 0.5s ease;
}
.section2 div:nth-child(1) p{
    font-size: .8rem;
    padding-top:20px;
}
.section2 div:nth-child(1) b{
    display: inline-block;
    font-size: 1rem;
    padding:20px 0;
}
.section2 div:nth-child(1) span{
    display: block;
    font-family: "ICA Rubrik", sans-serif;
    font-size: clamp(1em, 3vw, 3em);
    line-height: 1.1em;
    font-weight: 900;
}


.section2 div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 40px 0;
}
.section2 div:nth-child(2) img:nth-child(1){
    width:50%;
    padding:0 13% 0 3%;
    position: absolute;
    top:-20%;
    transition: all 0.5s ease;
} 
.section2 div:nth-child(2) img:nth-child(2){
    width:50%;
    padding: 0 10px 20px 0;
    margin-left: auto;
} 

.section2 div:nth-child(3){
    padding: 10px;
    background-color: black;
}
marquee span{
    font-size: 1.1rem;
    padding: 10px;
}
marquee span::before{
    content: " \f05a ";
    padding-right: 10px;
}

/* ------------------------------section2 css ends------------------------------------- */
/* ------------------------------section3 csss stars----------------------------------- */

.section3{
    padding:50px 40px;
    overflow: hidden;
    position: relative;
    background-color: white;
}
.section3 h6{
    font-size: .8rem;
}
.section3 h6::before{
    content: '+';
    padding-right: 20px;
    font-weight: 900;
}
.section3 div:nth-child(2){
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.section3 div:nth-child(2) h1{
    font-size: 3.2rem;
    font-weight: 900;
}
.section3 div:nth-child(2) p{
   align-self: center;
   padding-right:10px;
   font-size: 1rem;
   line-height: 1.5rem;
   font-weight:100;
}
.section3 div:nth-child(3){
    overflow: scroll;
    position: relative;
    width: 100vw;
    left:-40px;
    /* border: 1px solid green; */
}
.section3 div:nth-child(3) button{
    position:absolute;
    top:50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1rem #222;
    border: none;
    background-color:rgba(255, 255, 255,0.5);
    color: black;
    backdrop-filter: 5px;
    font-weight: 900;
}
.section3 div:nth-child(3) button:nth-child(2){ 
    left: 2%;
}
.section3 div:nth-child(3) button:nth-child(3){
    right: 2%;
}
.section3 div:nth-child(3) .slider{
    position: relative;
    /* border: 1px solid black; */
    display: flex;
    width:fit-content;
    gap:20px;
    padding:0 40px;
    overflow-x: scroll;
}

.section3 div:nth-child(3) article{
    position: relative; 
    width:320px;
    box-shadow: 0px 0px .5rem  rgb(70, 69, 69);
    border-radius: 3px;
    /* overflow: scroll; */
}

.section3 div:nth-child(3) article img ,
.section3 div:nth-child(3) article video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
    /* position: absolute; */
    
}
.section3 div:nth-child(3) article img:nth-child(2),
.section3 div:nth-child(3) article video:nth-child(2){
    left:0;
    position: absolute;
    opacity: 0;
    transition: all 300ms;
}
.section3 div:nth-child(3) article:hover img:nth-child(2) ,
.section3 div:nth-child(3) article:hover video:nth-child(2) {
    opacity: 1;  
}
.section3 div:nth-child(3) article h1,
.section3 div:nth-child(3) article h2{
    position: absolute;
    color: whitesmoke;
}

.s3art-1 img ,
.s3art-3 img ,
.s3art-6 img,
.s3art-1 video ,
.s3art-3 video{
    padding: 20px 60px 20px 20px;
}

.s3art-1{
    background-color: rgb(181, 196, 148);
    text-align: center;
}

.s3art-3{
    background-color: rgb(237, 189, 163);
    text-align: center;
}

.s3art-6{
    background-color: rgb(94, 128, 163);
    text-align: center;
}

.s3art-2 h2 ,
.s3art-4 h2 ,
.s3art-5 h2 {
    top:20px;
    left:20px;
    font-size: 2.8rem;
    line-height:2.8rem;
    font-weight:900;

}
.s3art-1 h1 ,
.s3art-3 h1 ,
.s3art-6 h1 {
    word-wrap: nowrap;
    transform: var(--translate);
    bottom:5%;
    left:45%;
    font-size: 2.2rem;
    line-height:2rem;
    font-weight:700;
    text-shadow: 1px 1px black, -1px -1px black, -2px 0px whitesmoke  ;
}

.s3art-3 h1 {
    transform: var(--translate);
    left:45%;
}

/* section 4 css starts  */

.section4{
    min-height: min(56.25vmax, 100vh);
    background-color:rgba(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4% 3%;
    color: #eee;
    position: relative; 
}
.section4::before{
    content: '';
    opacity: 0.6;
    position: absolute;
    background-image:  url(./tourcalender/calanderbackground.jpg) ;
    background-size: cover;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section4 h2{
    font-family: "ICA Rubrik", sans-serif;
    font-size:clamp(2.4em, 7vw, 4em);
    position: relative;
    z-index: 3;  
}
.section4 div{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding-top:30px;
    margin-top: 30px;
    border-top: 1px solid rgba(228, 228, 228, 0.3);
    position: relative;
    z-index: 3;  
}
.section4 p{
    width:450px;
    line-height: 1.5em;
    font-size: clamp(1em, 3vw, 1em);
    font-weight:100;
}
.section4 button{
    transition: all 1s;
    padding: 20px 35px;
    font-size: .8em;
}


/* section 5 css starts  */
.section5{
    background-color:#222;
    display: flex;
    padding: 6% 0% 13% 0;
    color: #eee;
    position: relative; 
}
.section5 aside{
    width: 50%;
}
.section5 aside div{
    width: 100%;
    position: relative;
    /* padding: 0% 0% 13% 0; */
}
.section5 aside >div .img:nth-child(1){
  object-fit: cover;
  width: 100%;
  min-height: min(56.25vmax, 100vh);
    filter: brightness(70%);
}
.section5 aside div:nth-child(2){
    position: absolute;
    left:50%;
    bottom:-33%;
    width: min(25vmax, 25vw);
    /* height:clamp(270px ,10vh ,270px) ; */
    transform: translate(-50%, -50px);
}
.section5 aside div:nth-child(2) img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.section5>div{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.section5 h2{
    font-family: "ICA Rubrik";
    font-size: clamp(1em, 3vw, 2.3em);
    line-height: 1.1em;
    text-transform: uppercase;
    position: relative; 
    padding-bottom: 50px;
    font-weight: 800;
    left:-20%;
}
.section5 h2 span{
    font-size: 12px;
}
.sec5foot{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: flex-start;
    padding: 0 6% 0 30%;
}
.para{
    line-height: 1.6em;
    font-size: clamp(0.8em, 2vw, 1em);
}
.section5 button{
    transition: all 1s;
    padding: 20px 35px;
    font-size: .8em;
}

/* section6 */
.section6{
    padding: 6% 0;
}
.section6 .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.section6 .container .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section6 .container .slider{
    height: 45vh;
}
.section6 .container .slider img{
    width: 100%;
    height: 100%;
}
/* ------------------------------------footer starts-------------------------------- */

footer{
    background-color: #222;
    padding:0 2rem;
    color: white;
}


/* ----------------------footer aside1 starts in nested css-------------------------- */

footer .footeraside1{
    padding: 3rem 0;
    border-bottom: 1px solid rgb(81, 81, 81);

    h1{
        width: 100%;

        span{
            font-size:3.2rem;
            line-height: 3rem;
            font-weight: 900;
            display: block;
            width: 100%!important;
        }
    }

    button{
        margin-top: 20px;
        padding: 20px 35px;
        font-size: .85rem;
    }
}

/* ----------------------footer aside2 starts in nested css---------------------------- */

footer .footeraside2{
    padding: 3rem 0;
    border-bottom: 1px solid rgb(77, 77, 77);

   
    div:nth-child(1){
        display: flex;
        flex-grow: 1;
        gap:20px;
        /* border: 1px solid; */

        input{
            width:36%;
            height: 50px;
            background-color: rgb(78, 78, 78);
        }
        p{
            font-size:1.2rem;
            font-weight: 800;
            width: 300px;
            padding-top: 8px;
        }
        span{
            width:45%;
            /* border: 1px solid red; */
            display: flex;
            justify-content: space-between;

            input{
                width: 86%;
                height: 50px;
            }

            button{
                width: 50px;
                height: 50px;
                vertical-align: middle;
                margin-left: 15px;
                border-radius: 0;
                border: 1px solid rgb(79, 79, 79);
                background-color: transparent;
                color:white;
                position: relative;
                z-index: 1;
                overflow: hidden;
            }
            button::after{
                content: '';
                position: absolute;
                width:100%;
                height: 100%;
                background-color: white;
                top:0;
                left:0;
                z-index: -1;
                transition: all 300ms ease-in;
                transform: scaleX(0);
                transform-origin: left;
                
             }
             button:hover{
                color:black;
             }
             button:hover::after{
                transform: scaleX(1);
                transform-origin:left;
             }
       
         }

    }
}

footer .footeraside2{

    div:nth-child(2){
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;

        p{
            width: 35%;
            padding: 50px 0 0 0;

            span{
                display: block;
                width: fit-content;
                font-size: .9rem;
                line-height: 1.5rem;
                cursor: pointer;
            }
        }

        >span{
            width:100%;

            i{
                margin-top:40px;
            }
           

        }

        img{
            position: absolute;
            right:0;
            top:10px;
            width: 100px;
            margin-top:40px;
        }
    }
}

/* ----------------------footer aside3 starts in nested css-------------------------- */

.footeraside3{
    display: flex;
    justify-content: space-between;
    padding:0 0 40px 0;

    p{
        font-size: .75rem;
        margin-top: 30px;
    }
    img{
        width: 80px;
        margin-top: 30px;
    }
}


/*
--------------------------------------------------------------------------------------------------------------------------responsive_quarry---------------------------------------------------------------------------------------------------------------------------- */ 

                /* responsive csss for small laptops 1024px starts */

@media only screen and (max-width:1024px) {


    /* respovsive header */

    .menu{
        flex-direction: column;
    }
    .menu .menu-content{
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(34, 34, 34,0.6);
    }
    .menu .menu-content ul{
        margin: auto;
        text-align: center;
        /* width: 100%; */
        margin-top: 50px;
    }
    .menu .menu-content ul li{
        width: 100%;
        font-size: 2.7rem;
    }
    .menu .menu-content span{
        margin: auto;
    }

    .menu .menu-images{
        width: 100%;
        position: absolute;
        z-index: -1;
        top:0;
        left:0;
    }
    nav{
        width:55%;
    }


    /* ----------------------------footer responsive------------------- */

    .footeraside2 div:nth-child(1){
        flex-wrap: wrap;
    }
    .footeraside2 div:nth-child(1) p{
        width: 100%!important;
    }

    .footeraside2 div:nth-child(1) >input , 
    .footeraside2 div:nth-child(1) span{
            width: 48%!important;
    }


    footer .footeraside2 div:nth-child(2){

        p{
            width: 50%;
        }
    }
    footer .footeraside2 div:nth-child(2)>span{
        width: 100%!important;
    }
    footer .footeraside2 div:nth-child(2) img{

        position: unset;
    }

/* -------------------responsive small screen laptop section2-------------------- */

    .section2 div:nth-child(1){
        width:80%;

    }
    .section2 div:nth-child(2){
        gap:45px;
    }
    
    .section2 div:nth-child(2) img:nth-child(1){
        position: unset;
        width: 65%;
    }
    
    .section2 div:nth-child(2) img:nth-child(2){
        width: 80%;
    }
    .section2 div:nth-child(1) span{
        font-size: clamp(1em, 5vw, 3em);
    }


    /* -------------------responsive small screen laptop section3-------------------- */

    .section3 div:nth-child(2){
        flex-direction: column;
        /* align-self: center; */
    }
    .section3 div:nth-child(2) p{
        align-self: self-start;
        padding: 15px 0;
    }

    /* -------------------responsive small screen laptop section4-------------------- */

    .section4 div{
    flex-direction: column;
    align-items: flex-start;
    }

    /* -------------------responsive small screen laptop section5 -------------------- */

    .section5{
        flex-direction: column;
        padding: 6% 0% 0% 0;
    }
    .section5 aside, .section5>div{
        width: 100%;
    }
    .section5 aside:nth-child(1){
        width: 80%;
    }
    .section5 aside div{
        padding: 0% 0% 13% 0;
    }
    .section5 aside div:nth-child(2){
        left:93%;
        bottom:-25%;
    }
    .section5 aside div img:nth-child(1){
        width: min(34vmax,34vw);
    }
    .section5 h2{
        inset: 0 0 0 0;
        padding-left: 20px;
        font-size: clamp(1em, 5vw, 2em);
    }
   
}


/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
                    /* media quarry for tablet and 800px */

@media only screen and (max-width:800px){


    /* nav before after responsive */

    nav span a::after{
        content: '';
    }
    nav span button::after{
        content: "";
    }
    nav span button{
        margin: 0 0 0 10px;
    }
    nav{
        width:57%;
    }
    .navigation-label span{
        border: none;
    }


    /* ------------------------------------footer responsive css ------------------*/

    .footeraside2 div:nth-child(1) >input,
    .footeraside2 div:nth-child(1) span {
        width:100%!important;
    }
    .footeraside2 div:nth-child(1) span input {
        width: 90%!important;
    }

    footer .footeraside2 div:nth-child(2){

        p{
            width: 100%;
        }
    }
   
    footer .footeraside3{
        flex-direction: column;
    }




/* --------------------section 2 responsive 800px ------------------------------ */
    .section2 div:nth-child(1){
        width:97%;
    }
  

    /* --------------------section 3 responsive 800px ------------------------------ */

    .section3 div:nth-child(2) h1{    
        font-size:2.7rem;
    }

    .section3 div:nth-child(2) p{      
        font-size: .9rem;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

                    /* media quarry for small devices and 530px  */


@media only screen and (max-width:530px){

    /* responsive header */

    nav{
        width:60%;
    }

    /* --------------------footer responsive--------------------- */

    footer .footeraside1 h1 span{
        font-size: 2.5rem;
        line-height: 2.6rem;
    }
    /* add 530px */
    footer .footeraside1 button{
        padding: 15px 25px;
    }

   
     /* responsive section 3 */

    .section3 div:nth-child(2) h1{    
        font-size:2.3rem;
    }

    .section3 div:nth-child(2) p{      
        font-size: .9rem;
    }

    /* .section4 h2{
        font-size: 3em;
    } */

    .section5 aside:nth-child(1){
        width: 80%;
    }

     .sec5foot{
        padding: 0 20px ;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
                    /* responsive for small mobile 460px */

@media only screen and (max-width:460px){


    /* responsive header */

    .menu .menu-content{
        padding:30px 20px;
    }
    .menu .menu-content ul li{
        width: 100%;
        font-size: 2rem;
    }
    .menu-content ul li:hover::first-letter{
        font-size:2.3rem;
    }
  
    nav span button{
        display: none;
    }
    nav span a::after{
        content: "ACCOUNT";
    }
    nav img{
        width: 70px;
    }
    nav{
        width:58%;
    }

    /* fotter responsive  */

    /* add 460px */
    footer .footeraside1 h1 span{
        font-size: 2rem;
        line-height: 2rem;
    }



    /* responsive section 2 */

    .section2 div:nth-child(1) span{
        font-size: 1.4em;
    }

    /* responsive section 3 */

    .section3 div:nth-child(2) h1{    
        line-height: 2rem;
    }

    .section3 div:nth-child(2) p{      
        font-size: 1.2rem;
    }

    /* .section4 h2{
        font-size: 2.4em;
    } */
    .section4 p{
        width: auto;
        line-height: 1.3em;
    }
    .section4 button{
        padding: 15px 20px;
    }

    /* .section5 aside div:nth-child(2){
        left:100%;
        bottom:-30%;
    } */

}
   


